# Python Interview Questions with Codes

# Swapping Two Numbers

In [3]:
x=10
y=20
print("Before the Swapping x = ",x,"y = ",y)
x=y
y=x
print("After the Swapping x = ",x,"y = ",y)

Before the Swapping x =  10 y =  20
After the Swapping x =  20 y =  20

# Minimum Of Two Number

In [74]:
a=int(input("Enter a number A:-"))
b=int(input("Enter a number B:-"))
if a<b :
    print(a,"Smaller Number")
elif a==b :
    print("a=b")
else :
    print(b,"Smaller Number")

Enter a number A:- 10
Enter a number B:- 50

10 Smaller Number

# Maximum Of Two Number

In [75]:
a=int(input("Enter a number A:-"))
b=int(input("Enter a number B:-"))
if a>b :
    print(a,"Gratter Number")
elif a==b :
    print("a=b")
else :
    print(b,"Gratter Number")

Enter a number A:- 20
Enter a number B:- 40

40 Gratter Number

# Progrram of Odd & Even Number

In [76]:
n = int(input("Enter A Number:-"))
if n%2==0:
    print("Number is Even")
else :
    print("Number is Odd")

Enter A Number:- 20

Number is Even

# Sum of Number From 1 to N

In [78]:
n = int(input("Enter a Number:-"))
count=1
sum=0
while count<=n:
    sum=sum+count
    count=count+1
print(sum)

Enter a Number:- 5

15

# Number is Prinme or Not

In [ ]:
n = int(input("Enter a Number:-"))
i=2
while i<=(n-1):
    if n%i==0:
        print("Number is Not Prime")
    else:
        i=i+1
        print("Number is Prime")

# OR

In [5]:
n = int(input("Enter a Number:-"))
for i in range(2,n):
    if n%i==0:
        print("Number is Not Prime")
        break
    else:
        print("Number is Prime")

Enter a Number:- 10

Number is Not Prime

# Factorial of a Number  n! = n * n-1 * n-2 * n-3 * .........

In [69]:
n = int(input("Enter a Number:-"))
factorial=1
i=1
while i<=n:
    factorial=factorial*i
    i=i+1
    print("factorial of",i, "is ",factorial)

Enter a Number:- 5

factorial of 2 is  1
factorial of 3 is  2
factorial of 4 is  6
factorial of 5 is  24
factorial of 6 is  120

# OR

#####

In [2]:
n = int(input("Enter a Number:-"))
factorial=1
i=1
if n<0:
    print("not exist")
elif n==0:
        print("0")
else:
     while i<=n:
           factorial=factorial*i
           i=i+1
           print("factorial of",i, "is ",factorial)

Enter a Number:- 5

factorial of 2 is  1
factorial of 3 is  2
factorial of 4 is  6
factorial of 5 is  24
factorial of 6 is  120

# Fibonacci Series   Fn = Fn-1+Fn-2+Fn-3+ ........

In [10]:
n = int(input("Enter a Number:-"))
x=0
y=1
z=0
while z<=n:
    print(z)
    x=y
    y=z
    z=x+y

Enter a Number:- 10

0
1
1
2
3
5
8

# Remove Duplicate Elements From The List

In [23]:
# Using set Function

L = [10,20,10,30,10,40,20,50,10,20,50]
print(list(set(L)))

[40, 10, 50, 20, 30]

# OR

In [28]:
L = [10,20,10,30,10,40,20,50,10,20,50]
new_list=[]
for element in L:
    if element not in new_list:
        new_list.append(element)
print(new_list)

[10, 20, 30, 40, 50]

# Check a Number Even or Odd

In [29]:
n=int(input("Enter a Number :- "))
if n%2==0:
    print(n ,"Number is Even")
else:
    print(n ,"Number is Odd")

Enter a Number :-  17

17 Number is Odd

# Print first 10 natural numbers

In [41]:
n=int(input("Enter a Number :- "))
for i in range(1,n+1,1):
    print(i,end=" ")

Enter a Number :-  20

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [57]:
n=int(input("Enter a Number :- "))
for i in range(n,0,-1):
    print(i,end=" , ")

Enter a Number :-  20

20 , 19 , 18 , 17 , 16 , 15 , 14 , 13 , 12 , 11 , 10 , 9 , 8 , 7 , 6 , 5 , 4 , 3 , 2 , 1 ,

# given year is a leap year or not

In [60]:
n=int(input("Enter an Year :- "))
result= "Leap Year" if n%400==0 else "Leap Year" if n%4==0 and n%100!=0 else "Non Leap Year"
print(result)

Enter an Year :-  2024

Leap Year

# Reverse a tuple

In [65]:
n=eval(input("Enter a Numbers Separated by comma"))
print("tuple is ",n)
l=list(n)
l.reverse()
n=tuple(l)
print("Reverse of tuple is",n)

Enter a Numbers Separated by comma 1,2,3,4,5

tuple is  (1, 2, 3, 4, 5)
Reverse of tuple is (5, 4, 3, 2, 1)

# calculate area of a circle

In [73]:
r=float(input("Enter a radius of a Circule"))
x=3.14*r**2
print("Area of a Circule is ",x)

Enter a radius of a Circule 4

Area of a Circule is  50.24